name: operance_datatable
description: "OperanceDataTable: A powerful, customizable data table widget for Flutter with features like sorting, searching, infinite scroll, row expansion, and keyboard navigation."
version: 1.0.4
homepage: "https://github.com/zxcvbnmmohd/OperanceDataTable"

environment:
  sdk: ^3.5.3
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^5.0.0
  flutter_test:
    sdk: flutter

  import_sorter: ^4.6.0


import_sorter:
  comments: true
  emojis: true